

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body,
html {
  width: 100%;
  display: inline-block;
  font-family: Helvetica, Sans-Serif;
}

.crt {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#headAndCon {
  height: 100%;
  width: 80%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header h1 {
  width: 15rem;
}

.logoLink{
  width: 100%;
  text-align: center;
}

.userInfo, .userInfoM {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5px;
  padding: 2rem 1rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: #de985d;
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 20%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sideTop {
  display: flex;
  flex-direction: row;
}

#menu-Close {
  display: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: black;
  padding: 5px;
  border: none;
  font-size: 1.5em;
  width: 15rem;
}

.logo {
  text-align: center;
}

.sidebarLinks,
.sidebarAdmin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0rem 1rem 0rem 2rem;
}


.sidebarLink {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 12px;
  border: 3px solid #de985d;
  transition: 0.1s ease-in-out;
  width: 100%;
  text-decoration: none;
  color: white;
}

.sidebarLink:hover {
  border: 3px solid white;
}

.sidebarLink:active {
  transform: translate(0px, 5px);
}

.menuIcon {
  width: 23.5px;
  filter: invert(99%) sepia(80%) saturate(0%) hue-rotate(33deg) brightness(109%)
    contrast(101%);
}

.logoutForm{
  width: 100%;
}

.logoutBtn, .logout {
  width: 100%;
  text-decoration: none;
  color: #de985d;
  background-color: white;
  border: 1px solid white;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.logoutBtn:hover, .logout:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logoutBtn:active, .logout:active {
  transform: translate(0px, 5px);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #e0f2fe;
  box-shadow: inset 0 5px 5px #e2e8f0;
  padding: 1rem 2rem;
}

#menu-toggle {
  display: inline;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: black;
  padding: 5px;
  border: none;
  font-size: 1.5em;
  width: 5rem;
  margin: 0 3rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#menu-toggle:hover, #menu-Close:hover {
  background-color: #de985d;
  color: white;
}

#menu-toggle:active, #menu-Close:active {
  transform: translate(0px, 5px);
  
}

@media screen and (max-width: 768px) {
  .sidebarAdmin {
    padding: 0;
  }

  .sidebarLinks, .sidebarAdmin {
    padding: 0;
  }

  #headAndCon {
    width: 100%;
  }

  .header h1 {
    display: none;
  }

  #menu-toggle {
    display: inline;
  }

  #sidebar {
    width: 0%;
  }

  #menu-Close {
    display: inline;
  }
}
